# Discord Bot Configuration
DISCORD_TOKEN=your_bot_token_here
APPLICATION_ID=1540222119697322004
PUBLIC_KEY=ba6816adaa9ecefb3e05aea8218d7fcb9ac1893a4845df3f3832082eae4a069c

# Optional: Guild ID for instant slash command synchronization during testing
DISCORD_GUILD_ID=

# Database Configuration (Defaults to game_data.db in the package directory)
DB_PATH=
